<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jools625.the_stanley_parable_text_game">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".museum_ending.Hallway4"></activity>
        <activity android:name=".EnterLeftDoor" />
        <activity android:name=".explosion_ending.ExplosionEnding5" />
        <activity android:name=".explosion_ending.ExplosionEnding4" />
        <activity android:name=".explosion_ending.ExplosionEnding3" />
        <activity android:name=".explosion_ending.ExplosionEnding2" />
        <activity android:name=".explosion_ending.ExplosionEnding1" />
        <activity android:name=".freedom_ending.FreedomEnding" />
        <activity android:name=".freedom_ending.StanleyDefeatsMachine" />
        <activity android:name=".mind_control_facility.MindControlFacility5" />
        <activity android:name=".mind_control_facility.MindControlFacility4" />
        <activity android:name=".mind_control_facility.MindControlFacility3" />
        <activity android:name=".mind_control_facility.MindControlFacility2" />
        <activity android:name=".museum_ending.Ending" />
        <activity android:name=".museum_ending.DarkRoom" />
        <activity android:name=".museum_ending.StanleyInMuseum" />
        <activity android:name=".museum_ending.Machine" />
        <activity android:name=".museum_ending.Hallway3" />
        <activity android:name=".museum_ending.Hallway2" />
        <activity android:name=".museum_ending.Hallway1" />
        <activity android:name=".mind_control_facility.MindControlFacility" />
        <activity android:name=".Passageway" />
        <activity android:name=".Elevator" />
        <activity android:name=".BossOffice.DoorOpensOverride" />
        <activity android:name=".BossOffice.DoorOpens" />
        <activity android:name=".BossOffice.Keypad2" />
        <activity android:name=".BossOffice.Keypad1" />
        <activity android:name=".death_ending.NextRoom" />
        <activity android:name=".death_ending.Die" />
        <activity android:name=".death_ending.OpenEyes" />
        <activity android:name=".death_ending.CloseEyes" />
        <activity android:name=".death_ending.LucidDreaming" />
        <activity android:name=".death_ending.StanleyCrazy" />
        <activity android:name=".Staircase" />
        <activity android:name=".ExitEmployeeLounge" />
        <activity android:name=".EmployeeLounge" />
        <activity android:name=".EnterRightDoor" />
        <activity android:name=".LeftRightDoor" />
        <activity android:name=".EmptyOffice" />
        <activity android:name=".CowardEnding" />
        <activity android:name=".Intro" />
        <activity android:name=".HomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>